
.top_item {
    font-family: 'Pretendard Variable';
    color: #222222;
    display: flex;
    font-size: 18px;
    letter-spacing: -.27px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin-right: 50px; 
}
.top_item.active {
  font-weight: 700;
}

.top_logo{
  width: 150px;
  height: auto;
}