* {
  margin: 0;
  padding: 0;
}

.top_item {
  font-family: "Pretendard Variable";
  align-items: center;
  color: rgba(34, 34, 34, 0.8);
  display: flex;
  font-size: 12px;
  letter-spacing: -0.06px;
  text-decoration: none;
  margin-right: 24px;
}
.gnb_item {
  font-family: "Pretendard Variable";
  color: #222222;
  display: flex;
  font-size: 18px;
  letter-spacing: -0.27px;
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin-right: 50px;
}
.gnb_item.active {
  font-weight: 700;
}

.top_logo {
  width: 150px;
  height: auto;
}

.footer.sm {
  padding-left: 16px;
  padding-right: 16px;
}

.service_title {
  align-items: center;
  display: inline-flex;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.1px;
}

.service_tel {
  letter-spacing: normal;
  margin-left: 4px;
}
