* {
  margin: 0;
  padding: 0;
}

*, :after, :before {
  box-sizing: border-box;
}

body, button, input, select, table, textarea {
  color: #222;
  font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
body, button, html, input, select, table, textarea {
  font-feature-settings: "frac" 0,"numr" 0;
}
body, html {
  height: 100%;
  touch-action: manipulation;
  word-break: break-all;
}

.top_item {
  font-family: "Pretendard Variable";
  align-items: center;
  color: rgba(34, 34, 34, 0.8);
  display: flex;
  font-size: 12px;
  letter-spacing: -0.06px;
  text-decoration: none;
  margin-right: 24px;
}
.gnb_item {
  font-family: "Pretendard Variable";
  color: #222222;
  display: flex;
  font-size: 18px;
  letter-spacing: -0.27px;
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin-right: 50px;
}
.gnb_item.active {
  font-weight: 700;
}

.top_logo {
  width: 150px;
  height: auto;
}

.nav_item {
  font-family: "Pretendard-Regular";
  color: #222222;
  display: flex;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: -0.27px;
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin-right: 50px;
  height: 30px;
}
.nav_item.active {
  font-weight: 700;
  border-bottom: 2px solid #222;
  color: #222;
  cursor: pointer;
  position: relative;
}
.footer {
  border-top: 1px solid #ebebeb;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}
.service_area {
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-bottom: 56px
}
.service_title {
  align-items: center;
  display: inline-flex;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.1px;
}
.service_tel {
  letter-spacing: normal;
  margin-left: 4px;
  color: inherit;
}
.service_time {
  padding-top: 8px;
  white-space: pre-wrap;
}
.service_btn {
  background-color: #222;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  height: 34px;
  padding: 14px;
  letter-spacing: -.06px;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  border: 1px solid #fff;
}